body { margin-left: 5%; margin-right: 5%; }
body { font-family: helvetica }
h1,h2,h3,h4,h5,h6,div.menu { margin-left: -2% }
hr { margin-left: -2%; width: 100% }
table.footer { margin-left: -2%; margin-right: 2% }
div.quote { margin-left: -2%; font-size: 80% }